.login-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 7px 10px 20px -8px rgba(0,0,0,0.81);
    -moz-box-shadow: 7px 10px 20px -8px rgba(0,0,0,0.81);
    box-shadow: 7px 10px 20px -8px rgba(0,0,0,0.81);
}

.login-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    text-align: center;
}

.login-container section.form img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
}

.login-container section.form form{
    margin-top: 100px;
}

.login-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

